*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}
.header{
    background-color: #ff008c;
}

.card{
    width: 500px;
    border: 2px solid;
    padding: 25px;
    margin: 25px auto;
    text-align: center;
    background-color: #6f01ff;
}
